
<div class="div-inner">
<div class="title-div"><h3>Edit Student</h3></div>
<div class="table-div">
<div class="form-title-div"><h3>Student Details</h3></div>
<hr>



<%= form_with model: @student do |form| %>
  <div class="new-form-div">
  <div class="form-flex">
  <div class="form-inner">
  <div class="new-input-div"><div><p>First Name</p></div><%= form.text_field :fname,required: true %></div>
    <div class="new-input-div"><div><p>Age</p></div><%= form.number_field :age ,required: true%></div>
    <div class="new-input-div"><div><p>Phone Number</p></div><%= form.telephone_field :phone_number,required: true %></div>
    <div class="new-input-div"><div><p>Cohort Id</p></div><%= form.number_field :cohort_id %></div>
  </div>

  <div class="form-inner">
    <div class="new-input-div"><div><p>Last Name</p></div> <%= form.text_field :lname ,required: true%></div>
    <div class="new-input-div"><div><p>Email</p></div><%= form.email_field :email ,required: true%></div>
    <div class="new-input-div"><div><p>Picture</p></div><%= form.text_field :pic_url%></div>
    

  </div>
  </div>
    <div class="new-submit"><%= form.submit %></div>

  <% end %>
  

</div>
</div>
</div>