


<div class="div-inner">
<div class="title-div"><h3>All Students</h3></div>
<div class="table-div">

<div id="table-container">
<div class="add-div"><a class="add-cohort" href="/students/new"><i class="fas fa-plus"></i>Add Student</a></div>
<table class="display-students-table">
<tr>
<th></th>
<th>Id</th>
<th>Name</th>
<th>Age</th>
<th>Cohort</th>
<th>Edit</th>
</tr>
<% @students.each do |student|%>
    <tr>
    <td class="hover-section"><a href="/students/<%=student.id%>"><div><img src="<%=student.pic_url%>"></div></a> </td>
    <td><%=student.id%></td>
    <td><a href="students/<%=student.id%>"><%=student.fname%> <%=student.lname%></a></td>
    <td><%=student.age%></td>

    <% if student.cohort_id.nil?%>
    <td>N/A</td>
    <%else%>
    <td><a href="/cohorts/<%= @cohorts.find(student.cohort_id).id%>"> <%= @cohorts.find(student.cohort_id).name%></a></td>
    <%end%>
   <td>
   <div class="edit-section">
   <div><a class="edit-hover" href="/students/<%=student.id%>/edit"><i class="far fa-edit"></i></a></div>
   <div class="trash-div"><%= link_to image_tag('trash-alt-regular.svg',:class => 'delete-btn-student'),student_path(student), method: :delete, remote:true, data: { confirm: 'Are you sure?' } %></div>
   <div>
   </td>

   </tr>
   <% end %>
</table>

</div>
</div>
</div>