

<div class="div-inner">
<div class="title-div"><h3>Teacher Profile</h3></div>
<div id="teacher-table-div" class="table-div">
<div class="person-edit-icon"><a href="/teachers/<%=@teacher.id%>/edit"><i class="far fa-edit"></i></a></div>

<div class = "info-container">
<div class="profile-border">
<div class="profile-img-div"><img src="<%=@teacher.pic_url%>"></div>
</div>

<div class="display-info">

<div>
<div class="line">
<div class="bold">Full Name</div> <div class="info-font"><%=@teacher.fname %> <%=@teacher.lname %></div>
</div>

<div class="line">
<div class="bold">Salary</div> <div class="info-font"><%=number_to_currency(@teacher.salary)%> </div>
</div>

<div class="line">
<div class="bold">Email</div> <div class="info-font"><%=@teacher.email %> </div>
</div>
</div>



<div>
<div class="line">
<div class="bold">Age</div>  <div class="info-font"><%=@teacher.age %></div>
</div>

<div class="line">
<div class="bold">Education</div> <div class="info-font"><%=@teacher.education %> </div>
</div>

<div class="line">
<div class="bold">Phone Number</div> <div class="info-font"><%=number_to_phone(@teacher.phone_number) %></div>
</div>
</div>


</div>
</div>



</div>
</div>
