<img src="<%=@teacher.pic_url%>">
<p>First name: <%=@teacher.fname %></p>
<p>Last name: <%=@teacher.lname %></p>
<p>Age: <%=@teacher.age %></p>
<p>Salary: <%=@teacher.salary %></p>
<p>Education: <%=@teacher.education %></p>
