<div class="div-inner">
<div class="title-div"><h3>Edit Course</h3></div>
<div class="table-div">
<div class="form-title-div"><h3>Course Details</h3></div>
<hr>


<%= form_with model: @course do |form| %>
  <div class="new-form-div">

  <div class="new-input-div"><div><p>Course Name</p></div><%= form.text_field :name,placeholder:"course name"%></div>
  <div class="new-input-div"><div><p>Course Hours</p></div><%= form.number_field :hours, placeholder:"course hours"%></div>
  <div class="new-input-div"><div><p>Picture</p></div><%= form.text_field :pic_url%></div>
  <div class="new-submit"><%= form.submit %></div>

  </div>
  <% end %>


  </div>
</div>
</div>